@import "/src/scss/variables.scss";

.backgroundColor {
  background-color: $backgroudBody-color;
}

.ButtonbackgroundButton {
  background-color: $invalid-color;
}

@media (min-width: 600px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}
