.container {
  height: calc(80vh - 80px);
}

.stack {
  direction: row;
  justify-content: "space-between";
}

.heading {
  padding: 4;
  font-family: "QuickSand";
  font-weight: 100;
}

@media (max-width: 500px) {
  .addButton {
    color: blanchedalmond;
  }
}
